body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: #81b3d2;
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-logo {
  background-image: url("../img/main-photo.jpg");
  background-position: top right;
  background-repeat: no-repeat;
}

.header-navigation {
  line-height: 26px;
  font-weight: 700;
}

.header-navigation ul {
  list-style: none;
}

.container-description p:first-child {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.container-description p:last-child {
  line-height: 26px;
  text-align: center;
}

.feature-title {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.feature-number {
  text-align: center;
}

.feature-description {
  text-align: center;
}

.container-features > .feature-item {
  color: white;
  background-color: #81b3d2;
}

.features-list > .feature-item {
  background-color: #eeeeee;
}

.features-list {
  list-style: none;
  padding: 0;
}

.container-slogan {
  display: block;
  margin: auto;
}

.navigation-logo img {
  display: block;
  margin: auto;
}

.entertainment-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.entertainment-list-item h3 {
  font-size: 21px;
}

.container-offer {
  text-align: center;
}

.container-offer p:first-child {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.container-offer p:last-child {
  line-height: 24px;
}

.container-hotel-order-popup {
  line-height: 26px;
  font-weight: 700;
  width: 568px;
  display: block;
  margin: auto;
}

.container-hotel-search-button {
  width: inherit;
  text-transform: inherit;
  font-weight: 700;
  font-size: 21px;
  color: white;
  background-color: #766357;
  text-align: center;
  padding: 30px 0;
}

.container-hotel-search-button:hover,
.container-hotel-search-button:focus {
  background-color: #604e43;
}

.container-hotel-search-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.container-hotel-order-popup input {
  background-color: #f2f2f2;
  height: 38px;
  color: inherit;
  font-weight: inherit;
  text-transform: inherit;
  line-height: inherit;
}

.container-hotel-order-popup input:hover {
  background-color: #ebebeb;
}
.container-hotel-order-popup input:focus {
  background-color: white;
}

.popup-form-submit-button {
  color: white;
  line-height: inherit;
  font-size: 21px;
  font-family: inherit;
  text-transform: inherit;
  font-weight: inherit;
  background-color: #81b3d2;
  padding: 15px 0;
  width: 458px;
}

.popup-form-submit-button:focus,
.popup-form-submit-button:hover {
  background-color: #669ec0;
}

.popup-form-submit-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.footer-hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.footer-social {
  list-style: none;
}

.footer-social-button {
  background-color: #81b3d2;
  color: white;
  padding: 0 10px;
}

.footer-social-button:hover,
.footer-social-button:focus {
  background-color: #669ec0;
  color: white;
}

.footer-social-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.footer-copyright > b {
  line-height: 26px;
  font-weight: 400;
}

.copyright-html-academy-logo img {
  fill: red;
}
