body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: #81b3d2;
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.header-navigation {
  line-height: 26px;
  font-weight: 700;
  background-color: white;
  position: relative;
}

.header-navigation ul {
  list-style: none;
}

.main-container {
  position: relative;
}

.logo {
  position: relative;
  width: 100%;
  background-image: url("../img/main-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -84px;
  min-height: 507px;
  text-align: center;
  margin-bottom: 61px;
}

.logo::after {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 57px;
  background-image: url("../img/main-photo-mask.svg");
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
}

.main-slogan {
  padding-top: 75px;
}

.description {
  padding: 0 355px;
  margin-bottom: 52px;
}

.description p:first-child {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 26px;
}

.description p:last-child {
  line-height: 26px;
  text-align: center;
}

.feature-title {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.feature-number {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.feature-description {
  text-align: center;
  margin: 0;
}

.features {
  display: flex;
  margin-bottom: 140px;
}

.features:nth-of-type(5) {
  margin-bottom: 0;
}

.features:nth-of-type(6) {
  margin-bottom: 52px;
}

.features > .feature-item {
  color: white;
  background-color: #81b3d2;
  width: 400px;
  padding: 47px 49px 58px;
}

.features-list > .feature-item {
  box-sizing: border-box;
  background-color: #eeeeee;
  width: 400px;
  margin: 0;
  padding: 46px 69px;
  padding-bottom: 60px;
}

.features-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-logo {
  top: 0;
  left: 50%;
  margin-left: -70px;
  position: absolute;
  z-index: 1;
}

.entertainment {
  margin-bottom: 71px;
}

.entertainment-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.entertainment-list-item {
  position: relative;
  width: 400px;
  padding: 0 50px;
}

.entertainment-list-item::before {
  content: "";
  position: absolute;
}

.entertainment-list-item:first-child::before {
  background-image: url("../img/main-icon-house.svg");
  width: 75px;
  height: 72px;
  left: 50%;
  top: -80px;
  margin-left: -37px;
}

.entertainment-list-item:nth-child(2)::before {
  background-image: url("../img/main-icon-hamburger.svg");
  width: 74px;
  height: 70px;
  left: 50%;
  top: -79px;
  margin-left: -37px;
}

.entertainment-list-item:last-child::before {
  background-image: url("../img/main-icon-present.svg");
  width: 64px;
  height: 76px;
  left: 50%;
  top: -85px;
  margin-left: -32px;
}

.entertainment-list-item h3 {
  font-size: 21px;
}

.offer {
  text-align: center;
  margin-bottom: 132px;
  width: 459px;
  display: block;
  margin: 0 auto 132px;
  padding: 0 20px;
}

.offer p:first-child {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 23px;
}

.offer p:last-child {
  line-height: 24px;
}

.hotel-order {
  position: relative;
}

.hotel-order-popup {
  position: absolute;
  left: 50%;
  margin-left: -284px;
  top: -86px;
  line-height: 26px;
  font-weight: 700;
  width: 568px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.order-popup-form {
  padding: 40px 55px;
  background-color: white;
}

.hotel-search-button {
  width: inherit;
  text-transform: inherit;
  font-weight: 700;
  font-size: 21px;
  color: white;
  background-color: #766357;
  text-align: center;
  padding: 30px 0;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #604e43;
}

.hotel-search-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.popup-form-item {
  display: flex;
  justify-content: space-between;
}

.popup-form-item-label {
  margin-top: 10px;
}

.popup-form-item input[type="date"] {
  width: 330px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.popup-form-item-people-amount input[type="number"] {
  width: 102px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.popup-form-item-people-amount input[type="number"]:first-of-type {
  margin-right: 48px;
}

.hotel-order-popup input {
  background-color: #f2f2f2;
  height: 38px;
  color: inherit;
  font-weight: inherit;
  text-transform: inherit;
  line-height: inherit;
}

.hotel-order-popup input:hover {
  background-color: #ebebeb;
}

.hotel-order-popup input:focus {
  background-color: white;
}

.popup-form-item-people-amount {
  display: flex;
  width: 450px;
  margin-bottom: 44px;
}

.popup-form-item-people-amount label:first-of-type {
  margin-right: 43px;
}

.popup-form-item-people-amount label:last-of-type {
  margin-right: 29px;
}

.popup-form-submit-button {
  color: white;
  line-height: inherit;
  font-size: 21px;
  font-family: inherit;
  text-transform: inherit;
  font-weight: inherit;
  background-color: #81b3d2;
  padding: 15px 0;
  width: 458px;
}

.popup-form-submit-button:focus,
.popup-form-submit-button:hover {
  background-color: #669ec0;
}

.popup-form-submit-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  position: absolute;
  box-sizing: border-box;
  bottom: 6px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 108px 21px 132px;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.footer-social {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 15px 0px 15px 44px;
}

.footer-social-button {
  display: flex;
  background-color: #81b3d2;
  align-items: center;
  justify-content: center;
  color: white;
  width: 46px;
  height: 48px;
  margin-right: 9px;
}

.footer-social-button:hover,
.footer-social-button:focus {
  background-color: #669ec0;
}

.footer-social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright > b {
  line-height: 26px;
  font-weight: 400;
  margin-right: 9px;
}

.copyright-html-academy-logo {
  width: 115px;
  height: 41px;
}

.copyright-html-academy-logo:hover path,
.copyright-html-academy-logo:focus path {
  fill: #669ec0;
}

.copyright-html-academy-logo:active path {
  opacity: 0.3;
}

.main-header {
  margin: 0;
  padding: 0;
  height: 56px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
}
.navigation-list li {
  width: 239px;
  padding-top: 14px;
}

.navigation-list li:first-child {
  text-align: left;
}

.navigation-list li:nth-child(2) {
  text-align: left;
}

.navigation-list li:nth-child(3) {
  text-align: right;
  margin-left: auto;
}

.navigation-list li:last-child {
  text-align: right;
}

.hotels .navigation-list li:last-child {
  color: #766357;
}

.hotels .search-form-field {
  border: none;
}

.hotels .search-form-field:first-of-type {
  margin-right: 119px;
}

.hotels .form-field-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels .form-field-list-item {
  margin: 25px 25px 0;
}

.hotels-container {
  margin-bottom: 24px;
}

.hotels-list {
  list-style: none;
}

.hotel-item {
  border-top: 1px solid #f9f9f9;
  display: flex;
  padding: 30px 72px 29px 32px;
  margin: 0;
}

.hotel-item:last-of-type {
  margin-bottom: 0;
  border-bottom: 1px solid #f9f9f9;
}

.hotel-name h2 {
  font-size: 21px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}

.hotel-additional-info {
  font-weight: 700;
  color: white;
  background-color: #81b3d2;
  padding: 5px 15px;
}

.hotel-additional-info:hover,
.hotel-additional-info:focus {
  background-color: #669ec0;
  color: white;
}

.hotel-additional-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-reserve {
  font-weight: 700;
  color: white;
  background-color: #766357;
  padding: 5px 15px;
}

.hotel-reserve:hover,
.hotel-reserve:focus {
  background-color: #604e43;
  color: white;
}

.hotel-reserve:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  color: #666666;
  background-color: #f2f2f2;
  width: 110px;
  text-align: center;
}

.hotel-information-wrapper {
  margin-left: 32px;
}

.hotel-rating-wrapper {
  margin-left: auto;
}

.hotel-search-form {
  background-color: #243337;
  background: url("../img/main-photo-blurred.jpg") left bottom no-repeat;
  background-size: cover;
  background-position: 0 -296px;
  margin-bottom: 10px;
  display: flex;
  padding: 29px 72px;
}

.search-form-field {
  color: white;
  margin: 0;
  padding: 0;
}

.form-field-legeng {
  font-weight: 700;
  font-size: 16px;
}

.hotel-search-result {
  display: flex;
  padding: 11px 70px;
  align-items: center;
  margin-bottom: 0px;
}

.filter-range {
  width: 320px;
  margin-left: auto;
  color: white;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid white;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: white;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: white;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: inherit;
  line-height: 20px;
  color: white;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: white;
}

.result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-left: 48px;
}

.sort-options-list {
  list-style: none;
  display: flex;
}

.sort-option-list-item {
  color: rgba(0, 0, 0, 0.3);
  -webkit-text-decoration: underline dotted #81b3d2;
  text-decoration: underline dotted #81b3d2;
  margin-left: 33px;
}

.sort-option-list-item:first-of-type {
  margin-left: 0;
}

.sort-option-list-item:hover,
.sort-option-list-item:focus {
  color: #81b3d2;
  -webkit-text-decoration: underline dotted #81b3d2;
  text-decoration: underline dotted #81b3d2;
}

.sort-option-list-item:active {
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.list-item-active {
  color: #81b3d2;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.hotels .main-footer {
  bottom: -120px;
}
