body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: #81b3d2;
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header-navigation {
  line-height: 26px;
  font-weight: 700;
  background-color: white;
  position: relative;
}

.header-navigation ul {
  list-style: none;
}

.main-container {
  position: relative;
}

.logo {
  position: relative;
  width: 100%;
  background-image: url("../img/main-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -84px;
  min-height: 507px;
  margin-bottom: 61px;
}

.logo::before {
  position: absolute;
  content: "";
  background-image: url("../img/main-welcome-slogan.svg");
  background-repeat: no-repeat;
  width: 459px;
  min-height: 353px;
  top: 76px;
  left: 50%;
  margin-left: -229px;
}

.logo::after {
  position: absolute;
  content: "";
  width: 1200px;
  min-height: 200px;
  background-image: url("../img/main-photo-mask.svg");
  background-repeat: no-repeat;
  top: 451px;
}

.description {
  margin-bottom: 52px;
}

.description p:first-child {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 26px;
}

.description p:last-child {
  line-height: 26px;
  text-align: center;
}

.feature-title {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.feature-number {
  text-align: center;
  margin-bottom: 21px;
}

.feature-description {
  text-align: center;
}

.features {
  display: flex;
  margin-bottom: 140px;
}

.features:nth-of-type(5) {
  margin-bottom: 0;
}

.features:nth-of-type(6) {
  margin-bottom: 52px;
}

.features > .feature-item {
  color: white;
  background-color: #81b3d2;
}

.features-list > .feature-item {
  background-color: #eeeeee;
  padding-bottom: 45px;
}

.feature-item {
  width: 400px;
  padding-top: 30px;
}

.features-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-logo {
  top: 0;
  left: 50%;
  margin-left: -70px;
  position: absolute;
  z-index: 1;
}

.entertainment {
  margin-bottom: 71px;
}

.entertainment-list {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
}

.entertainment-list-item {
  position: relative;
}

.entertainment-list-item::before {
  content: "";
  position: absolute;
}

.entertainment-list-item:first-child::before {
  background-image: url("../img/main-icon-house.svg");
  width: 75px;
  height: 72px;
  left: 90px;
  top: -80px;
}

.entertainment-list-item:nth-child(2)::before {
  background-image: url("../img/main-icon-hamburger.svg");
  width: 74px;
  height: 70px;
  left: 112px;
  top: -79px;
}

.entertainment-list-item:last-child::before {
  background-image: url("../img/main-icon-present.svg");
  width: 64px;
  height: 76px;
  left: 105px;
  top: -83px;
}

.entertainment-list-item h3 {
  font-size: 21px;
}

.offer {
  text-align: center;
  margin-bottom: 132px;
}

.offer p:first-child {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 23px;
}

.offer p:last-child {
  line-height: 24px;
  margin-bottom: 46px;
}

.hotel-order-popup {
  line-height: 26px;
  font-weight: 700;
  width: 568px;
}

.hotel-order-popup {
  position: absolute;
  left: 316px;
  bottom: 78px;
}

.order-popup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 41px;
  background-color: white;
}

.hotel-search-button {
  width: inherit;
  text-transform: inherit;
  font-weight: 700;
  font-size: 21px;
  color: white;
  background-color: #766357;
  text-align: center;
  padding: 30px 0;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #604e43;
}

.hotel-search-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.popup-form-item-label input[type="date"] {
  width: 346px;
}

.popup-form-item-label input[type="number"] {
  width: 114px;
}

.hotel-order-popup input {
  background-color: #f2f2f2;
  height: 38px;
  color: inherit;
  font-weight: inherit;
  text-transform: inherit;
  line-height: inherit;
}

.hotel-order-popup input:hover {
  background-color: #ebebeb;
}

.hotel-order-popup input:focus {
  background-color: white;
}

.popup-form-item-people-amount {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin-bottom: 44px;
}

.popup-form-submit-button {
  color: white;
  line-height: inherit;
  font-size: 21px;
  font-family: inherit;
  text-transform: inherit;
  font-weight: inherit;
  background-color: #81b3d2;
  padding: 15px 0;
  width: 458px;
}

.popup-form-submit-button:focus,
.popup-form-submit-button:hover {
  background-color: #669ec0;
}

.popup-form-submit-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.interactive-map {
  background: url("../img/main-map.jpg") left bottom no-repeat;
  background-position: 0 0;
  height: 473px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 108px 21px 132px;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.footer-social {
  list-style: none;
  display: flex;
}

.footer-social-button {
  background-color: #81b3d2;
  color: white;
}

.footer-social-button:hover,
.footer-social-button:focus {
  background-color: #669ec0;
  color: white;
}

.footer-social-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright > b {
  line-height: 26px;
  font-weight: 400;
}

.main-header {
  margin: 0;
  padding: 0;
  height: 56px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
}
.navigation-list li {
  width: 239px;
  padding-top: 14px;
}

.navigation-list li:first-child {
  text-align: left;
}

.navigation-list li:nth-child(2) {
  text-align: left;
}

.navigation-list li:nth-child(3) {
  text-align: right;
  margin-left: auto;
}

.navigation-list li:last-child {
  text-align: right;
}

.hotels .navigation-list li:last-child {
  color: #766357;
}

.hotels .search-form-field {
  border: none;
}

.hotels .form-field-list {
  list-style: none;
}

.hotels-list {
  list-style: none;
}

.hotel-item {
  border-bottom: 1px solid #f9f9f9;
  display: flex;
  margin-left: 30px;
  margin-top: 40px;
  padding-bottom: 14px;
}

.hotel-name h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.hotel-additional-info {
  font-weight: 700;
  color: white;
  background-color: #81b3d2;
  padding: 5px 15px;
}

.hotel-additional-info:hover,
.hotel-additional-info:focus {
  background-color: #669ec0;
  color: white;
}

.hotel-additional-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-reserve {
  font-weight: 700;
  color: white;
  background-color: #766357;
  padding: 5px 15px;
}

.hotel-reserve:hover,
.hotel-reserve:focus {
  background-color: #604e43;
  color: white;
}

.hotel-reserve:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  color: #666666;
  background-color: #f2f2f2;
  width: 110px;
  text-align: center;
}

.hotel-information-wrapper {
  margin-left: 32px;
}

.hotel-rating-wrapper {
  margin-left: auto;
  margin-right: 74px;
}

.hotel-search-form {
  background-color: #243337;
  background: url("../img/main-photo-blurred.jpg") left bottom no-repeat;
  background-size: cover;
  background-position: 0 -296px;
  margin-bottom: 10px;
  display: flex;
  min-height: 217px;
}

.search-form-field {
  color: white;
}

.form-field-legeng {
  padding-top: 15px;
  font-weight: 700;
  font-size: 16px;
}

.hotel-search-result {
  display: flex;
  padding-left: 71px;
}

.apartment-cost-wrapper {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
}

.apartment-cost {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.search-form-button {
  border: 1px solid white;
  color: white;
  text-transform: inherit;
  background-color: transparent;
  padding: 5px 20px;
  height: 32px;
}

.search-form-button:hover,
.search-form-button:focus {
  border: 1px solid white;
  color: inherit;
  background-color: white;
  padding: 5px 20px;
}

.result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-left: 48px;
}

.sort-options-list {
  list-style: none;
  display: flex;
}

.sort-option-list-item {
  color: rgba(0, 0, 0, 0.3);
  -webkit-text-decoration: underline dotted #81b3d2;
  text-decoration: underline dotted #81b3d2;
  margin-left: 33px;
}

.sort-option-list-item:first-of-type {
  margin-left: 0;
}

.sort-option-list-item:hover,
.sort-option-list-item:focus {
  color: #81b3d2;
  -webkit-text-decoration: underline dotted #81b3d2;
  text-decoration: underline dotted #81b3d2;
}

.sort-option-list-item:active {
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.list-item-active {
  color: #81b3d2;
  -webkit-text-decoration: none;
  text-decoration: none;
}
